<div class="container-full" fxFlex fxLayout="column">
  <div class="container">
    <p>
      The South African national cricket team, nicknamed the Proteas (after
      South Africa's national flower, Protea cynaroides,
      commonly known as the "king protea"), represents South Africa in
      international cricket. It is administered by Cricket
      South Africa. South Africa is a full member of the International Cricket
      Council (ICC) with Test, One Day International
      (ODI) and Twenty20 International (T20I) status. South Africa entered
      first-class and international cricket at the same
      time when they hosted an England team in the 1888–89 season. At first, the
      team was no match for Australia or England
      but, having gained in experience and expertise, they were able to field a
      competitive team in the first decade of the
      20th century. The team regularly played against Australia, England and New
      Zealand through to the 1960s, by which time
      there was considerable opposition to the country's apartheid policy and an
      international ban was imposed by the ICC,
      commensurate with actions taken by other global sporting bodies. When the
      ban was imposed, South Africa had developed
      to a point where its team including Eddie Barlow, Graeme Pollock and Mike
      Procter was arguably the best in the world
      and had just outplayed Australia. The ban remained in place until 1991 and
      South Africa could then play against India,
      Pakistan, Sri Lanka and the West Indies for the first time. The team since
      reinstatement has mostly been strong and
      has at times held number one positions in international rankings but has
      lacked success in organized tournaments. Outstanding
      players since reinstatement have included Allan Donald, Shaun Pollock,
      Jacques Kallis, Graeme Smith, Makhaya Ntini,
      AB de Villiers, Dale Steyn and Hashim Amla.
    </p>
  </div>
  <div class="satitle">
    <p>OUR TEAM</p>
  </div>
  <div fxLayout="row wrap" style="margin: auto;">
    <div class="abt">
      <mat-card class="team">
        
        <mat-card-content>
          <img src="../assets/img/download.jpeg" style="height: 100px;" />
        </mat-card-content>
        <mat-card-header fxLayoutAlign="center">
          <mat-card-title>Thabang Monroe</mat-card-title>
          <mat-card-subtitle>CEO</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      
    </div>

    <div class="abt">
      <mat-card class="team">
        
        <mat-card-content>
          <img src="../assets/img/coach.jpg" style="height: 100px;" />
        </mat-card-content>
        <mat-card-header fxLayoutAlign="center">
          <mat-card-title>Ottis Gibson</mat-card-title>
          <mat-card-subtitle>Coach</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <div class="contact-cont" fxLayout="column">
    <div fxLayout="row">
      <div fxFlex="50" class="left">
        <div class="add1">
          <p>Landline: +27 21 462 0438</p>
          <p>Fax: +86 206 8092</p>
          <p>Email:info@saca.org.za</p>
          </div>
          <div class="add2">
             <p class="head1"> Physical Address:</p>
              <p>Great Westerford<br>
              240 Main Road<br>
              Rondebosch <br>
              Cape Town<br>
              7700<br>
              South Africa<br>
              </p>
          </div>
      </div>

      <div fxFlex="50" class="left">
        <div class="add1">
          <img src="../assets/img/Capture.JPG" style="height: 275px;" />
      </div>
      
    </div>
  </div>
</div>