
.container{
    width: 70%;
    margin: 4% auto;
    font-size: 20px;
    color: brown;
}

.container-full{
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    min-height: 100vh !important;
    background: gold;
    height:100%;
}
.satitle {
    background: darkgreen;
    color: #fff;
    text-align: center;
}
.abt {
    width: 300px;
    text-align: center;
    margin: 10px;
}
.team{
    background: darkslategray;
}
.left{
    margin-left: 16%;
    color: darkred;
    font-weight: 700;
}