<mat-tab-group>
  <mat-tab label="Image" fxLayout="row wrap" fxFlex="100"
    fxLayoutAlign="space-between start">

    <div class="galcontainer" fxFlex fxLayout="row" fxLayoutAlign="center">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>

  </mat-tab>
  <mat-tab label="Video" fxLayout="row wrap" fxFlex="100"
    fxLayoutAlign="space-between start">

    <iframe width='500' height='300' src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
    <iframe width='500' height='300' src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
    <iframe width='500' height='300' src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
    <iframe width='500' height='300' src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
    <iframe width='500' height='300' src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
    <iframe width='500' height='300' src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
    <iframe width='500' height='300' src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>


  </mat-tab>
</mat-tab-group>