.banner-toolbar {
    border: 1px solid rgba(0, 0, 0, .03);
    /* margin-bottom: 20px; */
    height: 85px;
  }
  .mdl-layout__header-row .mdl-navigation {
    margin: 0;
    padding: 0;
    height: 64px;
    flex-direction: row;
    align-items: center;
}
.mdl-navigation {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.mdl-navigation a{
    text-decoration: none;
    color: #fff;
}
.active {
    background: brown;
    padding: 5px;
}