<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="row nowrap" class="toplinks" fxLayoutAlign="end center" style="height:40px; background:#b3d4fc">
  <div fxLayoutAlign="end center">
    <div class="search">
      <input type="text" placeholder="Search" />
    </div>
    <div class="top-search-button">
      <input type="button" value="Search" />
    </div>
  </div>
</div>
<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px" ngClass.xs="banner-toolbar-xs"
  class="banner-toolbar mat-elevation-z2">
  <nav class="mdl-navigation" fxLayout="row" fxLayoutGap="20px">
    <a fxFlex [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="mdl-navigation__link  mdl-typography--text-uppercase mdl-typography--font-bold" >HOME</a>
    <a fxFlex [routerLink]="['/about']" routerLinkActive="active" class="mdl-navigation__link  mdl-typography--text-uppercase mdl-typography--font-bold">ABOUT US</a>
    <a fxFlex [routerLink]="['/match']" routerLinkActive="active" class="mdl-navigation__link  mdl-typography--text-uppercase mdl-typography--font-bold">MATCHES</a>
    <a fxFlex [routerLink]="['/gal']" routerLinkActive="active" class="mdl-navigation__link  mdl-typography--text-uppercase mdl-typography--font-bold">GALLERY</a>
    <a fxFlex [routerLink]="['/search']" routerLinkActive="active" class="mdl-navigation__link  mdl-typography--text-uppercase mdl-typography--font-bold">PLAYERS</a>
    <a fxFlex [routerLink]="['/learn']" routerLinkActive="active" class="mdl-navigation__link  mdl-typography--text-uppercase mdl-typography--font-bold">TEST</a>
    <!-- <a fxFlex href="http://angularexpo.com/resources/" class="mdl-navigation__link  mdl-typography--text-uppercase mdl-typography--font-bold">Resources</a> -->
  </nav>
</mat-toolbar>
<div class="main-container" [ngStyle.lt-md]="{'margin-left': '5px','width':'97%'}">
  
    <router-outlet ></router-outlet>
  

</div>

