


<div *ngIf="searchPart"> 
    
 <!--   <iframe src="https://www.cricket-score.club/embed/live" style="width:100%;height:1000px;min-width: 300px;" frameborder="0" scrolling="yes"></iframe> -->
 <iframe style="overflow-x:hidden;overflow-y:auto;" src="http://cricket-app-hrd.appspot.com/" width="650" height="800" marginheight='0' frameborder="0" scrolling="yes"></iframe>

</div>

<div *ngIf="!searchPart" class="domestic">
    <iframe frameborder='0' src='https://www.totalcricketscorer.com/TCSLive/TCSLatestScoresWidget.aspx?ctry=South Africa&rgn=&clb=&max=10&rdm=true' width="150px" height="300px">

    </iframe>
</div>