/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
mat-dialog-container {
  padding: 0px !important;
  margin-left: 20%;
}

.popUpHeaderContainer {
  background-color: #039be5;
  align-items: center;
  color: #fff;
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
}

